---
import Layout from "../../layouts/Layout.astro";
const pageTitle= "About | AstroLoyalty"

---
<Layout title="{pageTitle">
	<div>
		<h1 class="title">About</h1>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, ut quas? Cupiditate, accusantium. Quod, deleniti alias. Vel, labore magnam quas facilis aliquam explicabo doloremque enim.</p>
	</div>
</Layout>

