
  <form class="box" method="post">
    <div class="field">
        <label for="author" class="label">Author:</label>
        <div class="control">
            <input type="text" name="author" class="input" placeholder="Your Name">
        </div>
    </div>
    <div class="field">
        <label for="content" class="label">Comment:</label>
        <div class="control">
            <textarea name="content" id="" class="textarea" placeholder="Your comment"></textarea>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button type="submit" class="button is-light">Save</button>
        </div>
    </div>
</form>