---
const { title } = Astro.props
import Navbar from '../components/Navbar.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">

		<title>{title}</title>
	</head>
	<body>
		<section class="section">
			<Navbar/>
			<div class="container">
				<slot />
			</div>
        </section>
	</body>
</html>
